# venv
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter / checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.vscode/
.idea/

# Streamlit (если не нужно коммитить)
.streamlit/secrets.toml

# Build / dist
build/
dist/
*.egg-info/